<form class="row g-3 justify-content-center mt-3">
  <div class="col-sm-8">
    <input type="search" name="query" class="form-control form-input-large pill" placeholder="¿Qué mantencion deseas realizar?" aria-label="Search" value="<%= params[:query] %>">
    
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary form-input-large pill"><i class="fas fa-search"></i> Buscar</button>
  </div>
</form>