<div class="container mt-3">
  <form class="d-flex bd-highlight">
    <input class="form-control me-2 pill" type="search" name="query" placeholder="Encuentra tu servicio" aria-label="Search" value="<%= params[:query] %>">
    <button class="btn btn-outline-success pill" type="submit">Buscar</button>
  </form>
