  <form class="row g-2">
    <div class="col-12 col-lg-10">
      <input class="form-control form-control-lg me-2 pill home-searcher" type="search" name="query" placeholder="Encuentra tu servicio" aria-label="Search" value="<%= params[:query] %>">
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-warning btn-lg pill btn-home" type="submit"><i class="fas fa-search"></i> Buscar</button>
    </div>
  </form>
