// Specific CSS for your home-page
.banner .container h2 {
  color: white;
  font-size: 40px;
  margin-top: -20px;
}

.form-control-lg {
  height: 65px !important;
}

.btn-home {
  margin-top: 2px;
  width: 140px;
  height: 60px;
  color: white;
  margin-left: 8px;
}

.carousel-title {
  margin-top: -10px;
}