<label for="#" >Selecciona la forma de pago</label>
<div class="container mb-3">
  <div class="row">
      <div class="col-lg-3 col-sm-12">
      <label>
        <input type="radio" name="product" class="card-input-element">
          <div class="card panel panel-default card-input">
            <div class="col">
              <div class="text-center">
                <i class="fas fa-money-check fa-3x mt-3"></i>
                <h6>Débito</h6>
              </div>
            </div>
          </div>
      </label>
    </div>
    <div class="col-lg-3 col-sm-12">
      <label>
        <input type="radio" name="product" class="card-input-element">
          <div class="card panel panel-default card-input">
            <div class="col">
              <div class="text-center">
                <i class="fas fa-credit-card fa-3x mt-3"></i>
                <h6>Crédito</h6>
              </div>
            </div>
          </div>
      </label>
    </div>
    <div class="col-lg-3 col-sm-12">
      <label>
        <input type="radio" name="product" class="card-input-element">
          <div class="card panel panel-default card-input">
            <div class="col">
              <div class="text-center">
                <i class="fas fa-university fa-3x mt-3"></i>
                <h6>Transferencia</h6>
              </div>
            </div>
          </div>
      </label>
    </div>
    <div class="col-lg-3 col-sm-12">
      <label>
        <input type="radio" name="product" class="card-input-element">
          <div class="card panel panel-default card-input">
            <div class="col">
              <div class="text-center">
                <i class="fab fa-cc-paypal fa-3x mt-3"></i>
                <h6>PayPal</h6>
              </div>
            </div>
          </div>
      </label>
    </div>
  </div>
</div>