<div class="container">
  <% @bookings.each do |booking| %>
    <% if booking.service.user_id == current_user.id && !booking.end_date %>
      <%= render "details", booking: booking %>
    <% end %>
  <% end %>
</div>
