<div class="user-wrapper">
  <div>
    <img src="" alt="">
    <a href="">Datos personales </a>
  </div>
  <div class="links">
  <%= link_to "Tus ordenes abiertas", service_booking_status_path(@service, @booking) %>
  <a href="">Notificaciones</a>
  <a href="">Historial de ordenes</a>
  <a href="">Configuración</a>

  </div> 
</div>