<nav class="navbar navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div>
      <%= image_tag "logo.svg", alt: "alttext", class: "logo me-2" %>
      <%= link_to "Services & Jobs", root_path, class: "navbar-brand" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex ms-auto">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Busca un servicio" aria-label="Search">
          <button class="btn btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <button type="button" class="btn btn-outline-info dropdown-toggle ms-2" data-bs-toggle="dropdown" aria-expanded="false">
          Pedro
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Datos personales</a></li>
          <li><a class="dropdown-item" href="#">Notificaciones</a></li>
          <li><a class="dropdown-item" href="#">Favoritos</a></li>
          <li><a class="dropdown-item" href="#">Historial</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>