<header class="header d-flex justify-content-center align-items-center">
  <div class="container">
    <h2 class="text-center text-white">Encuentra el servicio que necesites para tu próximo proyecto.</h2>
    <h4 class="text-center text-white">Tenemos a disposición más de 200 profesionales y técnicos en tu cuidad.</p>
    <form class="row g-3 justify-content-center">
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-lg" placeholder="¿Qué mantencion desear realizar?" aria-label="City" id="pill">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-lg" id="pill"><i class="fas fa-search"></i> Buscar</button>
      </div>
    </form>
  </div>
</header>