<h2>Categorias principales</h2>
<div class="category container">
  <ul>
    <li> Gasfiteria</li>
    <li>Electricidad</li>
    <li>Servicio técnico</li>
    <li>Limpieza</li>
    <li>Carpinteria</li>
    <li>Pintura</li>
  </ul>

  <h3>Te sugerimos</h3>
  <p>Aquí va un carrusel</p>
</div>
