<h2>Categorias principales</h2>
<div class="category container">

  <ul>
    <li><a href="services?query=gasfiter">Gasfiter</a></li>
    <li><a href="services?query=electricidad">Electricidad</a></li>
    <li><a href="services?query=servicio tecnico">Servicio técnico</a></li>
    <li><a href="services?query=carpinteria">Carpinteria </a></li>
    <li><a href="services?query=pintura">Pintura</a></li>
    <li><a href="services?query=limpieza">limpieza</a></li>
  </ul> 

  <h3>Te sugerimos</h3>
  <p>Aquí va un carrusel</p>
</div>
