.card_contact {

  height: 140px;
  width: 300px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  margin: 10px;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
}

.card_contact img {
  height: 100%;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.card_contact h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.card_contact h6 {
  font-size: 14px;
  line-height: 0;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card_contact {
  display: flex;
  align-items: center;
}

#cards-wrapper-home {
  display: flex;
  justify-content: center;
}
#card-home img {
  max-width: 100%;
  max-height: 100%;
}

#card-body-home {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction:column;
}

#card-info{
  margin-bottom: 4px;
}
// .card {
//   margin: 0 0.5em;
//   box-shadow: 3px 7px 9px 0 rgba(22, 22, 26, 0.18);
//   border: none;
//   border-radius: 0;
// }
.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-20%);
}

@media (min-width: 768px) {
  #card-home img {
    height: 11em;
  }
}

