.review-wapper {
  display: flex; 
  gap: 5px;
  margin-top: 60px;
}

.container-stars div{
  margin: 2px;
}

.container-graficos {
  .progress {
  height: 1.5rem;
  margin: 2px;
  }
}

.container-rating-number {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.fa-star {
  color: #FFC10F;
}