
<ul>
  <% @user.services.each do |u| %>
    <% u.bookings.each do |i| %>
      <% i.reviews.each do |e| %>
        <li><%= current_user.first_name %>
        <%= e.rating %>
        <%= e.content %></li>
      <% end %>
    <% end %>
  <% end %> 
</ul>

